<% provide(:title, 'attendance-list') %>
<h1>出勤中社員一覧</h1>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% user.attendances.where(worked_on: Date.current).each do |day| %>
          <% if day.started_at.present? && day.finished_at.blank? %>
            <tr>
              <td><%= user.employee_number %></td>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>