/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

#month-switch {
  vertical-align: middle;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-form {
  margin-top: 5px;
}

.btn-form {
  margin-top: 10px;
}


/* ユーザー一覧ページ */

.csv-holder {
  float: left;
}

.all-users {
  margin-left: 25px;
}
