/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-form {
  margin-top: 5px;
}

.btn-form {
  margin-top: 10px;
}

.csv-holder {
  float: left;
}

.all-users {
  margin-left: 25px;
}
